/* font-family: 'Bungee', cursive; */
h1 {
    color: white !important;
    margin-top: 1em !important;
    font-family: 'Bungee', cursive;
    font-size: 5em !important;
    text-align: center;
    color: black;
}
h3 {
    text-align: center;
    color: white !important;
}
.hero {
    position: absolute;
    background: url("https://i.imgur.com/g8YE7KD.jpg") no-repeat center fixed; 
    background-size: cover;
    height: 1000px;
    width: 100%;
}
.addCity {
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.addCityLink {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-family:'Bungee', cursive; 
    background-color: rgba(0,0,0,0.5);
    color: antiquewhite !important; 
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}
label {
    color: black;
}
.nav {
    background-color: black;
    color: white;
}
.nav-link {
    font-family: 'Bungee', cursive;
    margin: 0 15px;
    color: white !important;
}
a .nav {
    color: white !important;
    text-decoration: none;
}
.input {
    background-color: beige !important;
}
.cityBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    border-radius: 1%;
    color: white;
    margin: 10px 50px;
}
.btn {
    width: 10px;
    height: 10px;
    background-color: beige !important;
    color: black !important;
    text-align: center;

}

.imgbox {
    margin: 20px;
  }
  
  .border {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
  }
  
  .imgcon {
    border: 1px white solid;
    width: 275px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border: grey 1px solid;
    margin: 20px;
    text-align: center;
    
  }
