
.placeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px white solid;
    width: 100%;
    padding: 0 25px;
}
.placeList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px white solid;
    width: 100%;
    padding: 15px;
}
.placeList:hover {
    background-color: rgba(0,0,0,0.6);
}
.placeTitle {
    color: white !important;
}
.cityTitle {
    font-size: 45px;
    text-transform: capitalize;
    font-family: 'Bungee', cursive; 
}

.adventureTime {
    margin-bottom:3%;
}

.lg-button {
    font-size: 0.5em;
    margin: 20px;
    text-align: center;
}

.two-btn {
    display: flex;
    justify-content: flex-end;
}

.btn-danger {
    height:25px;
    border-radius: 10px;
}
.icon {
    height: 30px;
    width: 30px;
}
